﻿
@{
    ViewData["Title"] = "Home Page";
}

<style>
    label{
        font-size: x-large;
    }
    #seo {
        width: 500px;
        height: 50px;
    }
    #imageload {
        background: #e9e9e9;
        opacity: 0.5;
        position: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>

<div class="text-center">
    <br />
    <div class="form-group">
        <label class="col-md-3 control-label">Search Range </label>
        <select id="ddlsearchrange" style="width: 200px;">
            <option value="1">10</option>
            <option value="2">50</option>
            <option value="3">100</option>
        </select>
        <label class="col-md-3 control-label">Search Engine </label>
        <select id="ddlsearchengine" style="width: 200px;">
            <option value="Google">Google</option>
            <option value="Bing">Bing</option>
        </select>
    </div>
    <br />
    <div class="form-group">
        <label class="col-md-12 control-label">Search Engine Optimization for "Online Tittle Search"</label>
        <input type="text" name="seo" id="seo" readonly="readonly" value='@ViewData["seo"]' />        
    </div>
    <div >
        <img src="~/images/LoadingImage.gif" id="imageload" style="display:none" />
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            //On pageload to search 1st 50 Search URLS retruned from the URL
            var rangesearch = $("#ddlsearchrange").val("2").change();

            var range = $("#ddlsearchrange option:selected").text();
            var searchengine = $("#ddlsearchengine option:selected").text();

            
            //to get SEO results from https://infotrack-tests.infotrack.com.au/Google/Page{01-10}.html
            Ranking(range, searchengine);

            // when search engine dropdown is changed 

            $("#ddlsearchengine").change(function () {
                debugger;
                var changerange = $("#ddlsearchrange option:selected").text();
                var changeengine = $("#ddlsearchengine option:selected").text();
                Ranking(changerange, changeengine);

            });

            // when search range dropdown is changed 
            $("#ddlsearchrange").change(function () {
                debugger;
                var changerange = $("#ddlsearchrange option:selected").text();
                var changeengine = $("#ddlsearchengine option:selected").text();
                Ranking(changerange, changeengine);

            });

            //function to get ranking of search engine
            function Ranking(range, engine) {
                
                $("#imageload").show();
                $.ajax({
                
                type: "GET",
                dataType : "json",
                contentType: "application/json",
                url: "/Home/GetRanking", // the URL of the controller action method
                data: {
                    range:  range,
                    searchengine: engine
                },// optional data
                success: function (result) {
                    debugger;
                    $("#seo").val(result);
                    $("#imageload").hide();  
                },                
                error: function (result) {
                    if (result = "") {
                        alert("we could not find Infotrack.com.au in" + searchengine +". Please select another search engine")
                    }

                    
                }
            });
            }
                        
            
        });
    </script>
}

